<h2> Olá {{ name }} </h2>
<p>
  Vimos que você solicitou a redefinição de senha.
</p>
<p>Clique no abaixo para prosseguir.</p>
<p>
  <a href={{ link }} >Recuperar Senha</a>
</p>
<p>
  Caso não tenha solicitado, favor desconsiderar e-mail.
</p>
<br>
<br>
<br>

<h4>Equipe ROTA 73 ;)</h4>
