<h2> Olá {{ name }} </h2>
<p>
  Seu usuário foi criado com uma senha temporária, relize o primeiro acesso e troque se possível no menu "Meus dados".
</p>
<p>
  Sua senha temporária é: <strong> {{  temporaryPassword }}</strong>
</p>
<br>
<br>
<br>

<h4>Equipe ROTA 73 ;)</h4>
